header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    height: 50px;
    padding: 7px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    color:aliceblue;
    background-color: rgb(80, 104, 107);
}
